body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #e0e0e0;
}

#game-status {
  margin: 20px;
  font-size: 1.2em;
}

#restart-button, #start-button {
  padding: 10px 20px;
  font-size: 1em;
}

input{
  padding: 10px 20px;
  font-size: 1em;
}
